.nav-link  {color: rgb(29, 192, 221);
    
}
body{
    background-color: rgb(143, 16, 247);
}
.col img{
    max-width: 210vh;
    max-height: 100vh;

}
.carousel .container .carousel-item .col-md-3 .card  {
    margin-top: 10px;
    margin-left: 10px;
    
   
}
.col-md-3{
    display:inline-block;
}
.carousel .container .carousel-item .col-md-3 .card .card-body{
    left:0;

    
    transition: all 0.4s ease-in-out;
    display: inline-block;
    background:linear-gradient(95deg,rgb(111, 22, 163),rgb(44, 91, 247));
    color: rgb(14, 219, 141);
    opacity: 0.4;
    
}
.container .carousel-item .col-md-3 .card:hover .card-body{
    opacity: 1;
    color: yellow;
}
.container .carousel-item .col-md-3 .card .card-body a:hover{
    transition: all 0.4s ease-in;
    color:white; 
    padding: 2px 2px 2px 2px;
    border: 3px double rgb(151, 68, 228);
    background-color: darkgray;
}
.carousel-control-prev {
    color: rgb(0, 0, 0);
}

.carousel-control-prev-icon{ 
    background-image: rgb(196, 26, 26);
    /* background-color:black; */}