<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
{% load static %}
<link rel="stylesheet" href="{% static 'shop/css/custom.css' %}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<title>{% block title %}  {% endblock %}</title>
{% block style %}  {% endblock %}
<style>
	.card:hover{
		transition: all 0.3s;
		box-shadow: 3px 3px 10px 2px grey;
		

	}
</style>
</head>

<body>




  <nav class="navbar navbar-dark navbar-expand-lg bg-orange">
  <a class="navbar-brand" href="/shop">CartShop.com</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/shop">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/shop/cart">Cart</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			Category
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
			{% for i in cats %}
		  <a class="dropdown-item" href="/shop/category/{{i.id}}">{{i.category}}</a>
		  {% endfor %}
          
      </li>
     
    </ul>
    
  </div>
</nav>


{% block body %}    {% endblock %}



<footer>
	<div class="container-fluid pt-5 pb-5 bg-dark text-light">
		<div class="container">
			<div class="row">
				<div class="col-md-3">
				<div class="row">
					<h5>Meta</h5>
				</div>
				<div class="row mb-4">
				<div class="underline bg-light" style="width: 50px;"></div>
				</div>
					
						<p><i class="fa fa-chevron-right" aria-hidden="true"></i> CART</p>
						<p><i class="fa fa-chevron-right" aria-hidden="true"></i> Jwellery</p>
						<p><i class="fa fa-chevron-right" aria-hidden="true"></i> SPECs</p>
						<p><i class="fa fa-chevron-right" aria-hidden="true"></i> MEN'S WEAR</p>
						
					
				</div>
				
				
				
				
				<div class="col-md-3 pl-4">
					<div class="row">
					<h5>About</h5>
				</div>
				<div class="row mb-4">
				<div class="underline bg-light" style="width: 50px;"></div>
				</div>
				<div class="row">
					<p>SHop cart is Just a prototype for an AI project</p>
				</div>
				</div>
				
				<div class="col-md-3">
					<div class="row">
					<h5>Tags</h5>
				</div>
				<div class="row mb-4">
				<div class="underline bg-light" style="width: 50px;"></div>
				</div>
				<button class="btn btn-outline-light">Jwellery</button> <button class="btn btn-outline-light">Dress</button> <button class="btn btn-outline-light">Fashion</button> <button class="btn btn-outline-light">Spec</button> <button class="btn btn-outline-light">Black Dress</button>
				</div>
			</div>
		</div>
	</div>
</footer>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script> 
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>

{% block script %}  {% endblock %}
</body>
</html>
